<header>
    <img 
    src="assets/img/pedro.jpg" 
    alt="Pedro - Profile Photo"
    width="130px"
    height="130px"
    loading="eager"
    >
    <h1>Pedro Henrique</h1>
</header>
<aside>
    <div class="container">
        <p>PHP | LARAVEL | VUE | JAVASCRIPT</p>
        <p>Viçosa, Minas Gerais, Brazil</p>
        <p>
            Profissional apaixonado pela área de desenvolvimento de software,
            encontrei um ambiente inspirador dentro da comunidade open source. 
            Gosto muito de me aprofundar em novas tecnologias em meus projetos, 
            buscando constantemente desafios e inovações. 
            Com uma base sólida em desenvolvimento web 
            e uma mentalidade de resolução de problemas, 
            busco ativamente oportunidades para contribuir e aprender.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/pedro-kuhn-010b7522b/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="whatsapp icon">
                <figcaption>
                    <a href="https://api.whatsapp.com/send/?phone=5527998604825&text&type=phone_number&app_absent=0"
                    target="_blank">
                        <strong>Envie uma Mensagem para</strong>
                        <p>WhatsApp: (27)99860-4825</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/mail.svg" alt="email icon">
                <figcaption>
                    <a href="mailto:pedrohh.fk3@gmail.com"
                    target="_blank">
                        <strong>Envie um E-mail para</strong>
                        <p>pedrohh.fk3&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>